@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
}
body {
  margin: 0; 
  height: 100vh; 
  background: linear-gradient(to bottom, #000340, #00011c);
  background-attachment: fixed; 
  overflow-y: auto;
}

.slate_btn {
  @apply bg-slate-600 p-2 rounded hover:bg-slate-500 cursor-pointer;
}

.slate_btn:disabled {
  @apply bg-slate-700 cursor-not-allowed border-none
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-700 to-cyan-300 bg-clip-text text-transparent;
}

.bg_colour {
  @apply bg-slate-800;
}

.stream_info_open {
  @apply h-[100px]
}